<div class="about">
  <div class="image d-lg-block">
    <img src="/assets/images/biriyani.png" alt="" />
  </div>
  <div class="content">
    <h2>About Us</h2>
    <p>
      At AKFOODS, we are passionate about delivering delicious meals right to
      your doorstep. Founded in 2024, our mission is to connect food lovers
      with a diverse selection of local restaurants, ensuring that everyone can
      enjoy their favorite dishes with just a few clicks. We believe that great
      food brings people together, and we strive to make dining convenient and
      enjoyable for all. Our user-friendly platform offers quick and reliable
      delivery, backed by exceptional customer service. By choosing AKFOODS,
      you're not only satisfying your cravings but also supporting local
      businesses and fostering a vibrant food community. Join us on this
      culinary journey, and let us bring the flavors of your city to you!
    </p>
  </div>
</div>
