<div class="dashboard" id="dashboard">
  <div class="menu">
    <a class="menu-icon" routerLink="/admin/allusers"
      ><p class="icon">
        <i class="fa fa-user"></i>
      </p>
      <p class="text">User-List</p></a
    >
  </div>
  <div class="menu">
    <a class="menu-icon" routerLink="/admin/allorders">
      <p class="icon">
        <i class="fa fa-desktop"></i>
      </p>
      <p class="text">Order-List</p>
    </a>
  </div>
  <div class="menu">
    <a class="menu-icon" routerLink="/admin/allfoods">
      <p class="icon">
        <i class="fa fa-server"></i>
      </p>
      <p class="text">Food-List</p>
    </a>
  </div>
  <div class="menu">
    <a class="menu-icon" routerLink="/admin/createfoods">
      <p class="icon">
        <i class="fa fa-pencil"></i>
      </p>
      <p class="text">Create Food</p>
    </a>
  </div>
</div>
