<div class="container mt-5">
  <h2>My Orders</h2>
  <div class="row mt-lg-4 mt-md-4 mt-3">
    <app-not-found
      [visible]="!orders || !orders.length"
      notFoundMessage="No Orders Available"
      resetLinkText="Go To HomePage"
    ></app-not-found>
  </div>
  <div class="table-container" *ngIf="orders && orders.length > 0">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <td>S.NO</td>
          <td>Food Name</td>
          <td>Order Id</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; index as i">
          <td>{{ i + 1 }}</td>
          <td>
            <ng-container *ngFor="let item of order.items">
              {{ item.food.name}}<br />
            </ng-container>
          </td>
          <td>#{{ order.id }}</td>
          <td>{{ order.status }}</td>
          <td>
            <i class="fa fa-eye" routerLink="/user/track/{{ order.id }}"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
