.orders {
  border: 1px solid lightgray;
  padding: 20px;
}

.track {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 300px;
  row-gap: 50px;
}

.order-details {
  width: 500px;
  // padding: 0 20px;
}


@media screen and (max-width: 426px) {
  h2 {
    font-size: 22px;
  }
  .orders {
    overflow-x: scroll;
  }
  .order-details {
    width: 400px;
  }
}

@media screen and (max-width: 376px) {
  h2 {
    font-size: 20px;
  }
  .orders {
    overflow-x: scroll;
  }
  .order-details {
    width: 350px;
  }
}

@media screen and (max-width: 321px) {
  h2 {
    font-size: 18px;
  }
  .orders {
    overflow-x: scroll;
  }
  .order-details {
    width: 270px;
  }
}
