.container {
  margin-top: 100px;
}

.image {
  height: 300px;
  width: 60%;
  margin: auto;
  border: 1px solid;
  border-radius: 7px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.name {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags .tag {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
}

.btn {
  background-color: red;
  color: white;
  width: 100%;
  border-radius: 50px;
}

.btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.content {
  padding: 0 10px;
}

.progress-div {
  display: flex;
  width: 300px;
}

.progress {
  width: 100%;
}

ul {
  display: flex;
  gap: 10px;
  margin-left: -17px;
}

li {
  list-style: none;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.fa-star {
  font-size: 24px;
  color: red;
  margin-right: 5px;
}

.btn-rating {
  width: 100px;
}

.overall-rating {
  margin-left: 40px;
  .rating {
    p {
      font-size: 40px;
    }
  }
}

.ratings {
  width: 60%;
  margin: auto;
}

.progress-bar{
  background-color: red;
}

@media screen and (max-width: 769px) {
  .container {
    margin-top: 30px;
  }
  .image {
    height: 300px;
    width: 60%;
    margin: auto;
    border: 1px solid;
    border-radius: 7px;
  }
  .ratings {
    width: 60%;
    margin: auto;
  }
  .content {
    width: 60%;
    margin: auto;
  }
  .overall-rating {
    width: 55%;
    margin: auto;
  }
}

@media screen and (max-width: 426px) {
  .image {
    height: 300px;
    width: 90%;
    margin: auto;
    border: 1px solid;
    border-radius: 7px;
  }
  .ratings {
    width: 90%;
    margin: auto;
  }
  .content {
    width: 90%;
    margin: auto;
  }
  .overall-rating {
    width: 84%;
    margin: auto;
  }
}

@media screen and (max-width: 376px) {
  .progress-div {
    display: flex;
    width: 250px;
  }
}

@media screen and (max-width: 321px) {
  .progress-div {
    display: flex;
    width: 200px;
  }
}
